name: Publish Quarto Website

on:
  push:
    branches: ["main"]

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pages: write
      id-token: write

    steps:

      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Setup Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Render Website
        run: quarto render

      - name: Upload Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: _site

      - name: Deploy
        uses: actions/deploy-pages@v4